
<div class="row section-content">
  <div class="small-12 column">
    
    <h4 id="step_1" data-magellan-target="proposals">I) Consulta Pública: Propuestas acerca de la redacción del modelo de madurez para las nuevas subcategorías</h4>
    <p><%= Setting['home_date_stages_1'] %></p>    
    <p>A través del proceso de consulta pública podrás conocer las nuevas subcategorías propuestas para integrarse al modelo de madurez del Marco de Ciberseguridad de Uruguay.</p>    
    <p>El documento que contiene las propuestas estará puesto a consideración de la ciudadanía para recibir comentarios y/o aportes que lo enriquezcan y ayuden a crear la versión final. Todos los aportes serán recibidos a través de esta plataforma.</p>    

    <h4 id="step_2" data-magellan-target="proposals">II) Mesa de trabajo para compartir y dialogar sobre las propuestas recibidas en la Fase I</h4>
    <p><%= Setting['home_date_stages_2'] %></p>
    <p>Espacio de trabajo colaborativo para compartir y dialogar sobre las propuestas recibidas en la Fase I y generar en conjunto nuevas propuestas. Participarán representantes técnicos de diferentes Organizaciones, Academia y  Sociedad Civil.</p>

    <h4 id="step_3" data-magellan-target="proposals">III) Priorización: Análisis y sistematización de propuestas</h4>
    <p><%= Setting['home_date_stages_3'] %></p>
    <p>Todos los aportes y comentarios serán sistematizados y analizados para elaborar una nueva versión del modelo de madurez del Marco de Ciberseguridad de Uruguay.</p>

    <h4 id="step_4" data-magellan-target="proposals">IV) Aprobación: Documento final del nuevo modelo de madurez del Marco de Ciberseguridad de Uruguay</h4>
    <p><%= Setting['home_date_stages_4'] %></p>
    <p>En esta etapa se creará y se publicará la versión final del documento de modelo de madurez del Marco de Ciberseguridad de Uruguay.</p>
  </div>
</div>