<div class="row section-content">
  <div class="small-12 column">

    <h4 id="step_1" data-magellan-target="proposals">Etapa I - Elaboración de documento borrador por parte del Grupo de Trabajo de Ciudadanía Digital</h4>
    
    <p><%= Setting['home_date_stages_1'] %></p>
    
    <p>Agesic y Unesco convocaron a organizaciones públicas y académicas, organismos multilaterales y la sociedad civil organizada para conformar un Grupo de Trabajo de Ciudadanía Digital (GTCD) con el objetivo de elaborar un documento borrador de la Estrategia de Ciudadanía Digital. En los encuentros del GTCD participan referentes de las siguientes organizaciones e instituciones: Unesco Uruguay, Unicef Uruguay, Codicen- ANEP, Plan Ceibal, Fundación Ceibal, MEC-Dirección de Educación y Tecnología, Universidad Católica del Uruguay, Institución Nacional de Derechos Humanos, Universidad de la República - ObservaTIC, ONG El Abrojo, ONG Pensamiento Colectivo, Ministerio de Industria, Energía y Minería, Universidad Tecnológica del Uruguay, Facultad Latinoamericana de Ciencias Sociales - Uruguay y Agesic.</p>
    
    <p>En el marco de la Segunda Jornada de Ciudadanía Digital, realizada en 2019, fueron puestas en validación las perspectivas transversales y las dimensiones de uso contenidas en el documento borrador de la estrategia.</p>
    
    <p>El documento borrador de la estrategia presenta un marco de referencia y las primeras líneas de acción propuestas.</p>
    
    <p>Finalizada</p>

    <h4 id="step_2" data-magellan-target="proposals">Etapa II – Consulta pública</h4>
    <p><%= Setting['home_date_stages_2'] %></p>
    
    <p>Esta etapa tiene el objetivo de recibir nuevos aportes de diferentes actores, contemplando así las diversas miradas y dimensiones que involucra la temática.</p>

    <p>Invitamos a participar a representantes de diferentes organismos del Estado, la academia, organismos multilaterales, las empresas y la sociedad civil organizada, así como a cada uno de quienes integramos la sociedad desde nuestros distintos roles.</p>

    <p>Los aportes y comentarios pueden estar relacionados tanto con el marco teórico como con cada una de las propuestas de actividades a integrar en las diferentes líneas de acción; dichos aportes deben ser ingresados a través de esta plataforma.</p>

    <p>Consulta pública</p>

    <p>Plazo: hasta el 31 de marzo.</p>


    <h4 id="step_3" data-magellan-target="proposals">Etapa III – Sistematización de aportes </h4>
    <p><%= Setting['home_date_stages_3'] %></p>
    
    <p>Una vez finalizada la consulta pública, todos los aportes y comentarios realizados durante la Etapa II serán sistematizados y analizados por el Grupo de Trabajo de Ciudadanía Digital para elaborar una nueva versión del documento de Estrategia de Ciudadanía Digital.</p>

    <p>Análisis y sistematización de aportes.</p>

    <p>Plazo: hasta el 30 de abril.</p>


    <h4 id="step_4" data-magellan-target="proposals">Etapa IV – Documento final</h4>
    
    <p><%= Setting['home_date_stages_4'] %></p>
    
    <p>El Grupo de Trabajo de Ciudadanía Digital creará una versión final del documento Estrategia de Ciudadanía Digital, el cual será presentado a las autoridades pertinentes.</p>

    <p>Documento final</p>

    <p>Plazo: hasta el 15 de mayo.</p>

  </div>
</div>
